@use "functions";

@import "@fontsource/poppins";
@import "@fontsource/poppins/100";
@import "@fontsource/poppins/200";
@import "@fontsource/poppins/300";
@import "@fontsource/poppins/500";
@import "@fontsource/poppins/600";
@import "@fontsource/poppins/700";
@import "@fontsource/poppins/800";
@import "@fontsource/poppins/900";

:root {
  --bg: #111;
  --sidebar: #000;
  --header: #000;
  --text: #ff4500;
  --link: #0ba3df;
  --accent: #2cd62c;
  --menu-bg: #222;
  --gray-lg: #ccc; 
  --gray-md: #222;
  --gray-dk: #121212;
  --menu-text: #ff4500;
  --border: rgba(255, 255, 255, 0.15);
  --sidebar-width: 250px;
  --header-width: 64px;
  --error: #ea1212;
  --warning: #e19405;
}

* {
  user-select: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--text)
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: functions.toRem(36);
}

h2 {
  font-size: functions.toRem(32);
}

h3 {
  font-size: functions.toRem(28);
}

h4 {
  font-size: functions.toRem(24);
}

h5 {
  font-size: functions.toRem(20);
}

h6 {
  font-size: functions.toRem(16);
}

p {
  font-size: functions.toRem(16);
  font-weight: 200;
  line-height: 1.7;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--link);
  font-weight: 200;
  transition: all 0.5s ease-in;
}

a:hover {
  color: var(--text);
}

select, input, button {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--link);
  border-radius: 5px;
  font-weight: 200;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.5s ease-in;
}

select:hover,
input:hover,
button:hover {
  color: var(--link);
  border: 1px solid var(--text);

}

select {
  appearance: none;
}

input::placeholder {
  color: var(--text);
  opacity: 0.5;
}